<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="search">
<%= render 'search_form' %>
</div>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>